.container {
  border: 1px solid #828282;
  background-color: #eee;
  display: inline-block;
  padding: 10px;
}
.controls {
  display: flex;
  margin: 10px 0 20px;
}
.controls > * {
  margin: 0 2px 4px;
}
#form {
  flex-grow: 1;
  margin-right: 12px;
}
#txtInput {
  width: 100%;
}

.tblHeading {
  padding: 2px 4px;
  font-weight: bold;
}
.tblCell {
  background-color: white;
  min-width: 80px;
  width: 120px;
  height: 20px;
  border: 1px solid black;
  text-align: center;
  overflow: hidden;
}

.tblCell.active {
  box-shadow: 0 0 4px #0066b0 inset;
}
